
:root {
    --background-color: #00090E;
    --text-color: #E1E1E1;
    --primary-color: #81FE88;
    --secondary-color: #888888;
    --tag-color: #171D1F;
    --font-family: "Prompt", sans-serif;
    --itens-background: #171D1F;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);

    display: flex;
    

    height: 100vh;
    gap: 27px;
    padding: 56px 0;
}

aside {
    background-color: var(--itens-background);
    border-bottom: 10px;
    height: 100%;
    padding: 40px 16px;
    text-align: center;

}

.lista-links{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 80px;
    align-items: center;
    list-style-type: none;

}
.lista-links li a{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 26px;

}

.lista-links li:first-of-type a{
    color: var(--primary-color);

}

.link-destaque{
    border: 1px solid var(--primary-color);
    padding: 12px 30px;
    border-radius: 8px;
}

.container-search {
   margin: 10px;
   max-width: 996px;
   position: relative;
        
}

.search-projeto{
    border: 2px solid var(--tag-color); 
    background-color: var(--tag-color);
    color: var(--text-color);
    background-image: url("/img/search.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 16px;
    border-radius: 5px; 
    padding: 8px; 
    padding-left: 40px;
    width: 996px;
    font-size: 16px; 
    box-sizing: border-box;

}

#listaSugestoes{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o espaçamento interno da lista */
    margin: 0px 0; /* Adiciona um espaçamento externo */
    background-color: var(--tag-color); /* Define a cor de fundo */
    border: 1px solid #ccc; /* Adiciona uma borda */
    border-radius: 8px; /* Arredonda as bordas */
    position: absolute; /* Posiciona a lista abaixo do input */
    width: 100%; /* Define a largura da lista */
    z-index: 1; /*Garante que a lista fique acima do input*/
   
}

#listaSugestoes li {
    padding: 4x 8px; 
    cursor: pointer;
  
} 

#listaSugestoes li:hover {
    background-color: #f0f0f0;
}

.tag-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  
  
}

.lista-tags li{
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--background-color);
    gap: 10px;
    padding: 4px 8px;
    border-radius: 4px;
    margin: 10px;
 
}

.lista-tags{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    /* gap: 8px; */
    /* max-width: calc(100% - 100px); */
    /* justify-content: space-between; */
    /* align-items: center; */
    list-style: none;
    margin: 0;
    flex: 1;
    overflow-x: auto;

    
}

.limpar-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 120px;
}

.limpar-botao{
    /* flex-shrink: 0; */
    /* margin-top: auto; */
    /* padding: 8px 16px; */
    margin: 10px;
    width: auto;
    white-space: nowrap;
    background: none;
    border: none;
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 15px;

}

.container-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    width: 996px;
    gap: 20px;
    margin-bottom: 20px;
   
}
.card-projetos{ 
   width: 486px;
   height: 490px;
   background-color: var(--itens-background);
   position: relative;
   border-radius: 8px;
   cursor: pointer;
}

.imagem-projeto{
    height: 240px;
    width: 486px;
    padding: 15px;
    background-color: var(--secondary-color);
    border-top-left-radius: 8px;
    border-top-right-radius:8px;
}

.imagem-principal{
   width: 438px;
   border-radius: 8px;
   height: 100%;
   width: 100%;
   object-fit: cover;
}

.descricao-projeto{
    gap:16px ;
    padding: 16px;
   
}

.titulo-projeto{
    font-family: var(--font-family);
    color: var(--secondary-color);

}

.texto-projeto{
    font-family: var(--font-family);
    color: var(--secondary-color);

}

.icones-projetos{
    display: flex;
    text-align: center;
    gap: 15px;
    position: absolute;
    bottom: 12px;
    padding: 0 16px;
   
}

.icones-projetos img{
    width: 18px;
    height: 18px;
}

.icone-perfil{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 12px;
    right: 17px;
    padding: 6px 16px;
    font-family: var(--font-family);
    font-size: 15px;
}

.icone-perfil img{
    width: 35px;
    height: 35px;
    border-radius: 50% ;
    border: 3px solid var(--itens-background);
    object-fit: cover;
}

.icone-perfil-paragrafo{
    font-family: var(--font-family);
    font-size: 15px;
   
    
}

.checkbox-lista{
    display: flex;
}
